/* SLIDER */
.carousel-container{
    width: auto;
    margin: auto;
    /*border: 1px solid black;*/
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
    opacity: 0.7;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 2%;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    opacity: 0.5;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 2%;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    opacity: 0.5;

}


/* BING MAPS */
#myMap{
  display: inline-block;
  float: left;
  width: 46%;
  height:672px;
  border: 0px solid #000000;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

/* BODY */
#subscribe, #booking, .sub_confirmation, .confirmeBooking{
    font-weight:bolder;
}

.table1{
    float: right;
    border: 0px solid #000000;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    width: 53%;
}

.table2, .table3{
    display:none;
}

.display_info{
    min-width: 550px;
}

.select_row_table2, .sub_price, .select_date_table2, .confirmation_table2{
    min-width: 200px;
    text-align: center;
}

.select_row_table3, .unit_price, .select_date_table3, .confirmation_table3{
    min-width: 168px;
    text-align: center;
}
